<div style="border: 1px solid black;">
  <p>Add comment: </p>
  <div style="border: 2px solid red;">
    <%= form_for comment do |f|  %>
      <%= f.text_area :content %><br>

      <%= f.hidden_field :post_id, :value => @post.id %>
      <%= f.collection_select :user_id, User.all, :id, :username, { prompt: true }  %>

      <%= f.fields_for :user, comment.user = User.new do |user_fields| %>
        <%= user_fields.text_field :username %>
      <% end %>

      <%= f.submit %>
    <% end %>
  </div>
</div>